<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="vendor/autoload.php" colors="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage processUncoveredFiles="true">
    <include>
      <directory suffix=".php">./src</directory>
    </include>
    <exclude>
      <directory suffix="ServiceProvider.php">src</directory>
      <directory suffix=".php">src/config</directory>
    </exclude>
  </coverage>
  <testsuites>
    <testsuite name="Package Test Suite">
      <directory>./tests</directory>
    </testsuite>
  </testsuites>
</phpunit>
